h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

form {
    border:5px solid red;
    text-align: center;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

html {
    background-color: grey;
}

p {
    text-align: center;
}